;; shadow-cljs configuration
{:source-paths
 ["src" "test"]

 :dependencies
 [[binaryage/devtools "0.9.7"]
  [lilactown/hx "0.4.0"]]

 :builds
 {:test     {:target    :browser-test
             :test-dir  "public/test/js"
             :ns-regexp "-test$"
             :devtools  {:http-port 8021
                         :http-root "public/test/js"}}

  :ci       {:target :karma
             :output-to  "target/ci.js"
             :ns-regexp  "-test$"}}}}
